* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  #Auth {
    width: fit-content;
  }
}
